doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Client Template
    link(rel='stylesheet', href='./css/app.css')
  body
    h1 Super Bank
    #input
      h2 Balance
      h3#balance $1000
      input#amount
      button#deposit Deposit
      button#withdraw Withdraw

    table#ledger
      thead
        tr
          td#title(colspan="4") Ledger
        tr
          td Fee
          td Deposit
          td Withdraw
          td Balance
      tbody
        tr
          td
          td
          td
          td$1000


  script(src='./js/vendor/jquery-2.1.0.js')
  script(src='./js/source/main.js')
